<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Image dehaze</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (submit)="onSubmit($event)" [formGroup]="form">
      <div class="buttons-panel">
        <input #fileInput hidden type="file" (change)="onFileChange($event)" accept="image/*"/>
        <button mat-flat-button type="button" (click)="fileInput.click()">Select file</button>
        <button mat-flat-button type="submit" [disabled]="isSubmitDisabled()">Dehaze</button>
      </div>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Advanced options</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="advanced-options-panel">
          <mat-form-field>
            <mat-label>R</mat-label>
            <input matInput type="number" formControlName="r" min="3" max="39">
            <mat-error>Must be an integer between 3 and 39</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Beta</mat-label>
            <input matInput type="number" formControlName="beta">
            <mat-error>Must be a floating point number between 0.01 and 2.0</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Guided filter R</mat-label>
            <input matInput type="number" formControlName="gfr">
            <mat-error>Must be an integer between 3 and 150</mat-error>
          </mat-form-field>
          <mat-slide-toggle formControlName="auto" (change)="onAutoChange()">Auto</mat-slide-toggle>
        </div>
      </mat-expansion-panel>
    </form>
    <div class="output-section">
      @if (originalImg()) {
        <app-img-container [src]="originalImg()" name="Original" />
        <app-img-container [src]="outputImages()?.dehazed ?? ''" name="Dehazed" [loading]="loading()"/>
      }
      @else {
        <p>Please select an image.</p>
      }
    </div>
    <div class="download-section">
      <button mat-flat-button (click)="downloadClick()" [disabled]="!outputImages()?.dehazed">
        <mat-icon>download dehazed</mat-icon>
        Download
      </button>
      <mat-slide-toggle #showStagesToggle>Show stages</mat-slide-toggle>
    </div>
    @if (showStagesToggle.checked) {
      <div class="stages-section">
        @if (outputImages(); as images) {
          <app-img-container [src]="images.region" name="Region" />
          <app-img-container [src]="images.refinedRegion" name="Refined Region" />
          <app-img-container [src]="images.atmosphericLight" name="Atmospheric Light" />
          <app-img-container [src]="images.transmission" name="Transmission" />
        }
      </div>
    }
  </mat-card-content>
</mat-card>
